/* Global styles ensure that html and body occupy the entire viewport */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1 0 auto; /* The content area occupies the remaining space*/
}

footer {
  flex-shrink: 0; /* Make sure the footer is not compressed */
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1); 
}
